apiVersion: apps/v1
kind: Deployment
metadata:
  name: welcome-api
spec:
  replicas: 0
  selector:
    matchLabels:
      app: welcome-api
  template:
    metadata:
      labels:
        app: welcome-api
    spec:
      containers:
        - name: springboot
          image: mahamkali/welcomeapi:welcomeapi
          ports:
            - containerPort: 8081
          env:
            - name: PORT
              value: "8081"
            - name: MICROSERVICE_REGISTRY_URL
              value: "http://jhooq-springboot:8761/eureka/"
---
apiVersion: v1
kind: Service
metadata:
  name: welcome-api
spec:
  type: LoadBalancer
  ports:
    - port: 80
      targetPort: 8081
  selector:
    app: welcome-api
